/* Default styles for larger screens */
.tour__img img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card {
  border-radius: none !important;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.tour__img {
  position: relative;
}

.tour__img span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: max-content;
  height: max-content;
  z-index: 10;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 3px 0 0 0;
}

.card__top span i {
  color: var(--secondary-color);
}

.tour__rating {
  font-size: 0.9rem;
  color: var(--text-color);
}

.tour__location {
  color: var(--heading-color);
  font-weight: 500;
  font-size: 0.9rem;
}

.tour__rating i,
.tour__location i {
  font-size: 1rem;
}

.tour_title {
  margin-top: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.tour_title a {
  text-decoration: none;
  color: var(--heading-color);
  transition: 0.3s;
}

.tour_title a:hover {
  color: var(--secondary-color);
}

.card__bottom h5 {
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 500;
}

.card__bottom h5 span {
  font-weight: 500;
  color: var(--secondary-color);
  font-size: 0.8rem;
}

.booking__btn {
  background-color: var(--secondary-color) !important;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

.booking__btn a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
}

.booking__btn a:hover {
  color: #fff;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .tour__img span {
    font-size: 0.9rem;
    padding: 0.3rem 0.4rem;
  }

  .tour__rating {
    font-size: 0.85rem;
  }

  .tour__location {
    font-size: 0.85rem;
  }

  .tour_title {
    font-size: 1rem;
  }

  .card__bottom h5 {
    font-size: 1rem;
  }

  .card__bottom h5 span {
    font-size: 0.75rem;
  }

  .booking__btn {
    padding: 0.2rem 0.4rem;
  }

  .booking__btn a {
    font-size: 0.85rem;
  }
}

@media (max-width: 992px) {
  .tour__img span {
    font-size: 0.8rem;
    padding: 0.3rem 0.3rem;
  }

  .tour__rating {
    font-size: 0.8rem;
  }

  .tour__location {
    font-size: 0.8rem;
  }

  .tour_title {
    font-size: 0.9rem;
  }

  .card__bottom h5 {
    font-size: 0.9rem;
  }

  .card__bottom h5 span {
    font-size: 0.7rem;
  }

  .booking__btn {
    padding: 0.2rem 0.3rem;
  }

  .booking__btn a {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .tour__img span {
    font-size: 0.7rem;
    padding: 0.2rem 0.2rem;
  }

  .tour__rating {
    font-size: 0.7rem;
  }

  .tour__location {
    font-size: 0.7rem;
  }

  .tour_title {
    font-size: 0.8rem;
  }

  .card__bottom h5 {
    font-size: 0.8rem;
  }

  .card__bottom h5 span {
    font-size: 0.6rem;
  }

  .booking__btn {
    padding: 0.2rem 0.2rem;
  }

  .booking__btn a {
    font-size: 0.7rem;
  }
}

@media (max-width: 576px) {
  .tour__img span {
    font-size: 0.6rem;
    padding: 0.2rem 0.2rem;
  }

  .tour__rating {
    font-size: 0.6rem;
  }

  .tour__location {
    font-size: 0.6rem;
  }

  .tour_title {
    font-size: 0.7rem;
  }

  .card__bottom h5 {
    font-size: 0.7rem;
  }

  .card__bottom h5 span {
    font-size: 0.5rem;
  }

  .booking__btn {
    padding: 0.1rem 0.2rem;
  }

  .booking__btn a {
    font-size: 0.6rem;
  }
}
