.footer {
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer .logo img {
  width: 50%;
  margin-bottom: 1rem;
}

.social__links i {
  font-size: 1.5rem; /* Adjust icon size as needed */
  color: #333; /* Adjust icon color */
  text-decoration: none;
}

.footer__link-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #000; /* Adjust title color */
}

.footer__quick-links a {
  text-decoration: none;
  color: #555; /* Adjust link color */
}

.footer__quick-links a:hover {
  color: #000; /* Adjust link hover color */
}

.footer__quick-links h6 span i {
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.copyright {
  color: var(--text-color);
  font-size: 1rem;
}
